h1{
color=red
}

.top
 {
  font-family: "Times New Roman", Times, serif;
}

#champ
{
border-style: dotted;
}

a:link
{
	color:red;
}
a:visited
{
	color: green;
}
.bg {
  /* The image used */
  background-image: url("15639107386296.jpg");
 'backgroundRepeat': 'no-repeat',
'backgroundPosition': 'top center'

}
