h1{
color=red
}

.top
 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#champ
{
border-style: dotted;
font-size: 50px
}

#champ:hover
{
  background-color: #54F56C
}

.backimg {
  /* The image used */
  background-image: url("15639107386296.jpg");
  background-Repeat:no-repeat;
  background-size:
  cover;
}
p::selection{
background-color: rgb(56, 187, 100)
  }

.listtest ol>li {
color:red;
}
.listtest ol>ul>li {
color:green;
}
