<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
h1{
color=red
}

.top
 {
  font-family: "Times New Roman", Times, serif;
}

#champ
{
border-style: dotted;
}

a:link
{
	color:red;
}
a:visited
{
	color: green;
}
.bg {
  /* The image used */
  background-image: url("/home/gp/learnPython/project0/15639107386296.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
